<div class="dataTable_wrapper">
    <table id="obs-table" class="table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Species</th>
                <th class="text-center" scope="col">Alt. name</th>
                <th class="text-center" scope="col">Remarks</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for obs in observations %}
            <tr>
                <th class="text-center" scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{ obs.species }}</td>
                <td class="text-center">{{ obs.search_term }}</td>
                <td class="text-center">{{ obs.remarks }}</td>
                <td class="text-center">{{ obs.created_date }}</td>
                <td class="text-center">
                     <!-- Update button -->
                     <a type="button" class="update-collect btn btn-sm btn-primary"
                         href="{% url 'field:observ_update' obs.pk %}">
                     <span class="fa fa-edit"></span>
                    </a>

                    <!-- Delete button -->
                    <a type="button" class="delete-collect btn btn-sm btn-danger"
                            href="{% url 'field:observ_delete' obs.pk %}">
                        <span class="fa fa-trash"></span>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>