{% extends "base.html" %}
{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.css"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">My observations</h3>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'field:home' %}"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'field:show_all' %}"><i class="fas fa-users"></i></a>
                    </li>
                  </ul>
            </div>
            <div class="card-body">
                <a href="{% url 'field:observ_create' %}" class="btn btn-primary float-right" type="button" id="create-obs">
                    <i class="fas fa-plus"></i>
                    Add new
                </a>
    
                {% if observations %}
                    {% include 'field/_obs_table.html' %}
                {% else %}
                    <p class="text-primary">No observations found for current user.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#obs-table').DataTable({
            responsive: true, columns: [ null, null, null, {orderable: false }, {orderable: false }, {orderable: false }]
        });
    });
</script>
{% endblock %}