{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block custom_style %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <span class="float-right">
      <a href="{{ view.get_success_url }}" class=" btn btn-info">
          <i class="fas fa-arrow-left"></i>
          Cancel
      </a>
      <button type="submit" class="submit-btn btn btn-primary"><i class="fas fa-save"></i></button>
  </span>

  </form>
</div>
</div>
{% endblock %}
{% block scripts %}
{{ form.media.js }}
<script type="text/javascript">
  $(document).ready(function() {
    $('#id_species').djangoSelect2({
      minimumInputLength: 3,
      multiple: false,
      tags: true,
      createTag: function (tag) {
        return {id: tag.term, text: tag.term, tag: true};
      },
      ajax: {
        url: "https://api.inaturalist.org/v1/taxa/autocomplete",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            is_active: true,
            rank_level: 10,
            per_page: 30
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          params.page = params.page || 1;

          return {
            results: data.results.map(function (x) {
              return {id: x.name, text: x.matched_term + ' (' + x.name + ')', search_term: x.matched_term, preferred_name: x.preferred_common_name}
            }),
            pagination: {
              more: false
            }
          };
        }
      }
    });
    $('#id_species').on('select2:select', function (e) {
      let data = e.params.data;
      $('#id_search_term').val(data.search_term);
      $('#id_preferred_name').val(data.preferred_name);
    });
    
  });
</script>
{% endblock %}